:root {
    --main-color: rgb(237, 78, 46);
    --border-color: rgb(226, 218, 218);
    --yellow-color: rgb(255, 191, 0);
    --shopee-mall-color: #d0011b;
    --main-font: Helvetica, sans-serif;
    --orange-yellow-color: rgb(246, 144, 19);
}
.row{
    gap: 10px;
}

.container,
.container-sm,
.container-md,
.container-xl {
    font-size: 12px;
}

.container-xxl {
    font-size: 14px;

}

html {
    scroll-behavior: smooth;
}

button:hover,
a:hover {
    opacity: 0.8;

}

img:hover {
    opacity: 0.95;
}

li {
    list-style: none;
}

button,
a {
    transform: all 0.3 ease;
}

.top-home-page {
    display: none;
}

/* Header */
.icon {
    padding: 0 3px;
}

.icon:hover {
    opacity: 0.8;
    cursor: pointer;
}

.header-PC {
    display: none;
}

.header-mobile {
    position: fixed;
    padding-top: 10px;
    left: 0;
    right: 0;
    background-color: rgb(255, 255, 255, 0.5);
    z-index: 1;
    font-size: 12px;
}

.header-mobile nav {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.header-mobile .icon {
    color: var(--main-color);
}

.header-mobile__icon--search,
.header-mobile__icon--camera {
    font-size: 20px;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 8%;
}

.header-mobile form {
    position: relative;
    width: 75%;
}

.header-mobile__icon--search {
    left: 1%;
    width: 20px;
}

.header-mobile input {
    padding-left: 10%;
}

.banner-top {
    padding-top: 74px;
    position: relative;
    display: flex;
    gap: 5px;
}


.banner-top--PC {
    display: none;
}

.QR-mobile {
    width: 90%;
    margin: auto;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    box-shadow: 3px 3px 5px rgb(233, 231, 231);
    font-size: 13px;
}

.QR-mobile div {
    padding: 5px 10px;
}

.QR-mobile__qr-code,
.QR-mobile__shopee-pay {
    border-right: 1px solid var(--main-color);
}

.QR-mobile__qr-code a {
    text-align: center;
    color: gray;
}

.page-menu {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    
}

.page-menu__item {
    display: block;
    width: 20%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.page-menu__item--wrap-icon {
    width: 45px;
    height: 45px;
    border: 1px solid rgb(224, 221, 221);
    border-radius: 8px;
    text-align: center;
}

.page-menu__item--wrap-icon img {
    width: 70%;
    padding-top: 7px;
}

.page-menu p {
    color: black;
    font-size: 12px;
    font-family: var(--main-font);
}

.page-menu i {
    color: var(--main-color);
}

.dayly-discover {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--main-color);
    /* border-bottom: 1px solid var(--main-color); */
    padding-bottom: 40px;
}

.daily-discover__header--name {
    color: var(--main-color);
    padding: 10px 0;
    /* border-bottom: 1px solid rgb(230, 224, 224); */
}

.daily-discover__product {
    display: flex;
    flex-wrap: wrap;
}

.daily-discover__mall-yeuthich {
    position: absolute;
    top: 15px;
    left: 0px;
    display: flex;
    width: 60%;
    justify-content: space-between;
}

.dayly-discover__img--mall {
    height: 18px;
}

.yeuthich {
    background-color: var(--main-color);
    color: white;
    font-size: 12px;
    padding: 0 4px;
}

.dayly-discover {
    display: flex;
    overflow: hidden;
}

.dayly-discover-card {
    border: none;
}

.daily-discover--inner-card {
    text-align: center;
    position: relative;
    border: 1px solid rgb(235, 231, 231);
    width: 95%;
    margin: auto;
    cursor: pointer;
    transform: all 0.3s ease;
}

.daily-discover--inner-card:hover {
    border: 1px solid var(--main-color);
}

.flash-sale__card:hover {
    cursor: pointer;
}

.daily-discover__saleoff {
    color: var(--main-color);
    background-color: #ffe97a;
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 14px;
}

.daily-discover-card__body {
    /* border: 1px solid red; */
    padding: 6px;
}

.dayly-discover__img {
    width: 100%;
    margin: auto;
}

.daily-discover-card__img--12-dongkiem {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0%;
}

.dayly-discover-card__title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    text-align: left;
}

.daily-discover-card__price {
    color: var(--main-color);
    font-weight: bold;
    font-size: 15px;
    text-align: left;

    /* display: flex; */
}

.daily-discover-card__sold {
    /* float: right; */
    color: gray;
    position: absolute;
    right: 6px;
    bottom: -10px;
    font-size: 10px;
    font-weight: 400;
}

.dayly-discover__sale-desc {
    display: flex;
    justify-content: flex-start;
    gap: 5px;

}

.daily-discover__saleoff2 {
    color: white;
    text-align: center;
    background-color: var(--orange-yellow-color);
    font-size: 11px;
}

.daily-discover__flash-sale {
    color: white;
    text-align: center;
    background-color: var(--main-color);
    font-size: 11px;
}

.daily-discover--inner-card:hover+.dayly-discover__btn {
    opacity: 1;
}

.dayly-discover__btn {
    border-radius: 0;
    width: 95%;
    margin: auto;
    opacity: 0;
    transition: all ease 0.3s;
    font-size: 14px;

}

.pagination {
    display: none;
}

.bottom-menu-mobile {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    background-color: white;
    box-shadow: 3px 3px 5px gray;
    border-top: 1px solid gray;
}

.bottom-menu-mobile a {
    color: rgb(70, 69, 69);
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
}

.bottom-menu-mobile a:active {
    color: var(--main-color);

}
#banner-top--iconBack:hover, #banner-top--iconNext:hover{
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}


footer {
    display: none;
}
@media screen and (max-width: 768px) {
    #banner-top--iconBack{
        position: absolute;
        left: 30px;
        top: 50%;
        color: #9c9999;
        transform: translateY(50%);
    }
    #banner-top--iconNext{
        position: absolute;
        top: 50%;
        color: #9c9999;
        right: 30px;
        transform: translateY(50%);
    }
}

@media screen and (max-width: 430px) {
    #banner-top--iconBack{
        position: absolute;
        left: 30px;
        top: 50%;
        color: #9c9999;
        transform: translateY(-50%);
    }
    #banner-top--iconNext{
        position: absolute;
        top: 50%;
        color: #9c9999;
        right: 30px;
        transform: translateY(-50%);
    }
}

@media screen and (min-width: 768px) and (max-width: 995px) {
    #banner-top--iconBack{
        position: absolute;
        left: 30px;
        top: 50%;
        color: #9c9999;
        transform: translateY(50%);
    }
    #banner-top--iconNext{
        position: absolute;
        top: 50%;
        color: #9c9999;
        right: 30px;
        transform: translateY(50%);
    }
   
    .container {
        background-color: rgb(255, 255, 255, 0.7);
    }

    .header-mobile {
        position: fixed;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
    }

    .header-mobile form {
        position: relative;
        width: 85%;
    }
}

@media screen and (min-width: 992px) {

    /* nav */
    .top-home-page {
        z-index: 1;
        display: block;
        display: flex;
        color: white;
        align-items: center;
        justify-content: space-between;
        background-color: var(--main-color);
        font-size: 13px;
        padding: 8px;
        position: relative;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    .nav__link {
        color: white;
        padding: 0 8px;
        display: inline-block;

    }

    .nav-left .nav__link {
        border-right: 1px solid white;
    }

    .fb-insta--link {
        display: flex;
        color: white;
    }

    .icon--fb,
    .icon--insta {
        color: white;
    }

    .header-PC {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid var(--main-color);
    }


    .header__nav--search {
        background-color: rgb(255, 255, 255, 0) !important;
        position: relative;
    }

    .header__nav--search form {
        position: relative;
        width: 640px;
        height: 40px;
    }

    .header__icon--cart {
        position: relative;
        color: var(--main-color);
        top: 6%;
        transform: translateY(-50%);
        right: 0;
    }

    .page-logo {
        width: 162px;
    }

    .header__btn--search {
        background-color: var(--main-color);
        position: absolute;
        right: 1%;
        top: 50%;
        transform: translateY(-50%);
        width: 60px;
        height: 34px;
    }


    .icon--search {
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .header__link {
        position: relative;
        left: 32%;
        bottom: 0;
        padding: 2px;
        font-size: 12px;
    }
    .QR-mobile {
        display: none;
    }

    .header-mobile {
        display: none
    }

    .banner-top {
        display: flex;
        gap: 3px;
    }

    .page-menu a {
        width: 10%;
    }

    .banner-body {
        text-align: center;
    }

    .banner-top--PC {
        width: 33.33%;
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    #banner-top--slider {
        /* width: 99%; */
        max-width: 99%;
    }
    .banner-top--PC img{
        height: 50%;

    }
    #banner-top-sliderOuter{
        position: relative;
        margin-left: -5px; 
    }

    #banner-top--iconBack{
        position: absolute;
        left: 30px;
        top: 50%;
        color: #9c9999;
        transform: translateY(-50%);
    }
    #banner-top--iconNext{
        position: absolute;
        top: 50%;
        color: #9c9999;
        right: 30px;
        transform: translateY(-50%);
    }

    .daily-discover__header--name {
        text-align: center;
    }


    .bottom-menu-mobile {
        display: none;
    }

    .pagination {
        display: flex;
        background-color: rgb(255, 255, 255, 0);
        margin: 30px 0;
    }

    footer {
        padding: 50px 0;
        display: block;
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size: 12px;
        border-top: 2px solid var(--main-color);
        background-color: rgb(255, 255, 255, 0.7);
    }

    footer table {
        margin-bottom: 20px;
    }

    footer i {
        margin-right: 5px;
    }

    footer a {
        color: rgb(80, 78, 78);
        transform: all 0.3s ease;

    }

    footer a:hover {
        opacity: 0.8;
    }

    table td,
    table td {
        text-align: left;
    }


    body {
        background: white;
        background-size: cover;
    }

    .row {
        margin-bottom: 0px;
    }

    .container {
        background-color: rgb(255, 255, 255, 0.8);
    }
}

@media screen and (min-width: 1200px) {
    .header__nav--search form {
        position: relative;
        width: 840px;
        height: 40px;
    }
}

@media screen and (min-width: 1400px) {
    .header__nav--search form {
        position: relative;
        width: 940px;
        height: 40px;
    }
}