:root {
    --main-color: #ee4d2d;
    --border-bottom-color: rgb(238, 238, 238);
}

header {
    display: none;
}

.body {
    position: relative;
}

.body__QR {
    display: flex;
    /* border: 1px solid red; */
    justify-content: center;
    align-items: center;
    position: relative;
}

.body__QR--desc {
    position: relative;
    padding: 10px;
}

.body__QR--desc::after {
    position: absolute;
    content: "";
    width: 0.75rem;
    height: 0.75rem;
    transform: rotate(45deg) translateX(-50%);
    border-top: 2px solid #ffbf00;
    border-right: 2px solid #ffbf00;
    top: 50%;
    right: -0.75rem;
    background-color: rgb(255, 255, 255, 0.7);
}

.icon--QR {
    display: block;
    margin-left: 30px;

}

a {
    text-decoration: none;
}

.icon {
    color: var(--main-color);
    cursor: pointer;
}

.icon--house-chimney {
    position: absolute;
    right: 50px;
}

.icon--question {
    position: absolute;
    right: 0;
}

.body__desc {
    display: none;
}

.body__top {
    border-bottom: 2px solid var(--border-bottom-color);
    padding: 16px 0;
}

.body-top__logo {
    height: 100px;
    transform: translateX(-50%);
    margin: 10px 0;
    left: 50%;
    position: relative;
}

.icon--user,
.icon--lock,
.icon--eye {
    color: gray;
    margin-right: 10px;
}

.icon--arrow {
    margin-right: 10px;
}

.icon--eye {
    cursor: pointer;
}

.icon--eye:hover {
    opacity: 0.6;
}


button {
    background-color: var(--border-bottom-color);
    width: 100%;
    display: inline-block;
    position: relative;
    text-decoration: none;
    border: none;
    margin: 16px 0;
    padding: 10px 0;
}

button::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: -2px;
    top: -2px;
    border-top: 4px solid var(--main-color);
    border-left: 4px solid var(--main-color);
    transition: all 0.5s ease;
}

button::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    right: -2px;
    bottom: -2px;
    border-bottom: 4px solid var(--main-color);
    border-right: 4px solid var(--main-color);
    transition: all 0.5s ease;

}

button:hover::before,
button:hover::after {
    width: 100%;
    height: 100%;
}

form {
    width: 100%;
}

label {
    width: 100%;
    display: block;
    border-bottom: 2px solid var(--border-bottom-color);
}

input {
    padding: 10px 0;
    width: 80%;
    border: none;
    outline: none;
}

.body__MXH {
    padding: 10px;
    display: block;
    margin: 16px 0;
    border: 1px solid var(--border-bottom-color);
    position: relative;
    text-align: center;
    cursor: pointer;
}

.body__MXH a {
    color: gray;
}

.body__MXH-img {
    position: absolute;
    left: 10px;
    top: 4px;
    height: 36px;
    float: left;
    margin: auto;
}

.body__bottom {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    border: 1px solid var(--border-bottom-color);
    padding: 16px;
    background-color: var(--border-bottom-color);
    width: 100%;
    text-align: center;
}



footer {
    display: none;

}


@media screen and (min-width: 575px) and (max-width: 991px) {
    header {
        display: block;
        height: 84px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid gray;
    }
    .body{
        padding: 20px 0;
    }

    img {
        cursor: pointer;
    }

    .body__top {
        display: none;
    }


    header img {
        height: 40px;
    }

    header a {
        color: var(--main-color);
    }

    .icon--question {
        display: none;
    }

    input {
        width: 85%;
        padding: 10px 0;
    }

    button {
        padding: 10px 0;
        background-color: rgb(255, 191, 0, 0.1);

        border: 1px solid #ffbf00;
        transform: opacity 0.3 linear;
    }

    button:hover {
        opacity: 0.8;
    }

    button a {
        color: #ffbf00;
        font-weight: 500;
    }

    .body__MXH {
        padding: 16px 0;
    }

    .body__MXH-img {
        height: 50px;
    }

    .body__bottom {
        position: relative;
        padding: 16px 0;
    }

    .body-top__logo {
        margin: 16px 0;
    }

    /* .body__QR {
        display: block;
    } */

}

@media screen and (min-width: 992px) {
    .container {
        position: relative;
    }

    header {
        display: block;
        height: 84px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border-bottom: 1px solid gray;
    }

    h1 {
        font-size: 2rem;
    }

    img {
        cursor: pointer;
    }

    header img {
        height: 40px;
    }

    header a {
        color: var(--main-color);
    }

    .icon {
        display: none;
    }

    input {
        background-color: rgb(255, 255, 255, 0.4);
        width: 100%;
        padding: 16px;
        animation: none;
    }

    button {
        padding: 16px 0;
        background-color: rgb(255, 255, 255, 0.4);
        width: 100%;
        transform: opacity 0.3 linear;
        border: 1px solid var(--main-color);
        margin-top: 10px;
    }

    button a {
        color: var(--main-color);
        font-weight: 400;
    }

    .body__MXH {
        padding: 16px 0;
        margin: 20px 0;
    }

    .body__MXH-img {
        height: 50px;
    }

    .body-top__logo {
        display: none;
    }

    .body__top {
        display: none;
    }

    .icon--user,
    .icon--lock {
        display: none;
    }

    .icon--eye {
        display: block;
        position: absolute;
        right: 5%;
        bottom: 30%;
    }

    .icon--QR {
        display: block;
        margin-left: 15px;
    }

    .body__QR--desc {}

    .body__QR {
        justify-content: flex-end;
        margin-bottom: 20px;
    }


    label {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 20px 0;
        border: none;
    }

    .body {
        background: url(img/logoShopee2.png) no-repeat;
        background-size: 15%;
        background-position-x: 20.5%;
        background-position-y: 30%;
        display: flex;
        justify-content: space-around;
        /* padding: -10px 0; */
        /* border: 1px solid red; */
    }



    .body__form {
        position: relative;
        width: 40%;
        padding: 50px 0;
        right: 0;
    }

    #body__input--username {
        margin-bottom: 10px;
    }


    .body__desc {
        width: 40%;
        display: block;
        bottom: 8%;
        color: var(--main-color);
        font-weight: bold;
        position: relative;
        text-align: center;
    }

    .body__desc p {
        width: 100%;
        position: absolute;
        bottom: 15%;
        font-size: 1.3rem;
    }


    /*  */

    footer {
        padding: 50px 0;
        display: block;
        position: relative;
        left: 0;
        right: 0;
        bottom: 0;
        text-align: center;
        font-size: 12px;
        border-top: 2px solid var(--main-color);
        background-color: rgb(255, 255, 255, 0.7);

      
    }
    footer table{
        margin-bottom: 20px;
    }

    footer i{
        margin-right: 5px;
    }
    footer a{
        color: rgb(80, 78, 78);
        transform: all 0.3s ease;
        
    }
    footer a:hover{
        opacity: 0.8;
    }
    table td, table td{
        text-align: left;
    }


    /*  */

    body {
        background: url(img/backgroundLogin2.gif);
        background-size: cover;
    }

    .container {
        background-color: rgb(255, 255, 255, 0.7);
    }

    .body__bottom {
        position: relative;
        border: 1px solid var(--border-bottom-color);
        padding: 16px;
        width: 100%;
        text-align: center;
    }

}